<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.HondaCar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity
            android:name=".faq"
            android:exported="false" />
        <activity
            android:name=".contact"
            android:exported="false" />
        <activity
            android:name=".wrv"
            android:exported="false" />
        <activity
            android:name=".newamaze"
            android:exported="false" />
        <activity
            android:name=".jazz"
            android:exported="false" />
        <activity
            android:name=".city"
            android:exported="false" />
        <activity
            android:name=".newcity"
            android:exported="false" />
        <activity
            android:name=".model"
            android:exported="false" />
        <activity
            android:name=".models.cars"
            android:exported="false" />
        <activity
            android:name=".models"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".test"
            android:exported="false" />
        <activity
            android:name=".near"
            android:exported="false" />
        <activity
            android:name=".chat"
            android:exported="false" />
        <activity
            android:name=".gate"
            android:exported="false" />
        <activity
            android:name=".buy"
            android:exported="false" />
        <activity
            android:name=".emi"
            android:exported="false" />
        <activity
            android:name=".gps"
            android:exported="false" />
        <activity android:name=".menu" />
        <activity android:name=".admin_login" />
        <activity android:name=".Signup" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>